@{
    var date = DateTime.Now.ToShortDateString();
    var message = "Hello World";
}
<h2>Today's date is: @date </h2>
<h3>@message</h3>
<p>
    StudentId: @Html.Editor("StudentId")
    Student Name: @Html.Editor("StudentName")
    Age: @Html.Editor("Age")
    Password: @Html.Editor("Password")
    isNewlyEnrolled: @Html.CheckBox("isNewlyEnrolled")
    Gender: @Html.Editor("Gender")
    DoB: @Html.Editor("DoB")


</p>
